<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Product Detail</h2>
    <p>Product Id: <%= product._id %>
    </p>
    <p>Product Name: <%= product.name %>
    </p>
    <p>Product Price: <%= product.price %>
    </p>
    <p>Product Quantity: <%= product.quantity %>
    </p>
    <p>Product Updated Date: <%= product.updated_at %>
    </p>
</body>

</html>